/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
         Change favorite color:

         Default (Purple): hsl(255, 60%, 64%)
         Blue: hsl(220, 60%, 64%) - Pink: hsl(300, 60%, 64%)
         Green: hsl(110, 60%, 64%) - Cyan: hsl(180, 60%, 64%)
         Orange: hsl(15, 60%, 64%) - Red: hsl(358, 60%, 64%)

         For more colors visit: https://htmlcolorcodes.com/
         -> Choose any color 
         -> Copy the color mode (HSL)
  */
  --hue: 255;
  --first-color: hsl(var(--hue), 60%, 64%);
  --first-color-alt: hsl(var(--hue), 80%, 56%);
  --first-color-alt-2: hsl(var(--hue), 60%, 56%);
  --first-color-light: hsl(var(--hue), 60%, 74%);
  --title-color: hsl(240, 8%, 95%);
  --text-color: hsl(240, 8%, 70%);
  --text-color-light: hsl(240, 8%, 50%);
  --body-color: hsl(240, 100%, 2%);
  --container-color: hsl(240, 8%, 6%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Unbounded", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section-title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 3rem;
}

.section-title span {
  color: var(--first-color);
}

.main {
  overflow: hidden;
}

/*=============== BLOB ===============*/
/* Blob animate */
.blob-animate {
  width: 100px;
  height: 100px;
  background: linear-gradient(
    180deg,
    var(--first-color-alt) 20%,
    var(--first-color-light) 100%
  );
  border-radius: 50%;
  filter: blur(35px);
  z-index: -1;
  position: absolute;
  animation: animateBlob 5s linear infinite;
}

@keyframes animateBlob {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Blob */

/*=============== CUSTOM CURSOR ===============*/

/* Hide the custom cursor */

/*=============== HEADER & NAV ===============*/

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background-color: linear-gradient(
    180deg,
    var(--body-color) 60%,
    hsla(240, 100%, 2%, 0) 100%
  );
  z-index: var(--z-fixed);
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
}
.nav-logo {
  font-family: var(--second-font);
  font-size: var(--font-medium);
  font-weight: var(--font-medium);
  color: var(--title-color);
  transition: color 0.2s ease-in-out;
}
.nav-logo:hover,
.nav-logo:focus {
  color: var(--first-color);
}

.nav-links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.nav-link {
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
  color: var(--title-color);
  transition: color 0.2s ease-in-out;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--first-color);
}
.header .blob-animate {
  top: -3rem;
  left: -3rem;
}
/* Active link */

/*=============== HOME ===============*/

.home{
  position: relative;
}

.home-container{
  position: relative;
  row-gap: 3rem;
}

.home-greeting {
  font-size: var(--small-font-size);
  color: var(--first-color);
  font-weight: var(--font-regular);
}

.home-name{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.home-info, .home-shadow, .home-socials, .home-cv{
  position: absolute;
}

.home-image {
  position: relative;
  display: grid;
  overflow-y: clip;
}

.home-image .blob-animate{
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 0;
  justify-self: center;
}

.home-profile{
  width: 320px;
  justify-self: center;
}

.home-shadow {
  width: 100%;
  height: 375px;
  background: linear-gradient(180deg,
              hsla(244, 100%, 2%, 0) 60%,
              hsla(244, 100%, 2%) 85%);
  bottom: 1rem;
  z-index: 2;
}

.home-info{
  bottom: -1rem;
  justify-self: center;
  z-index: 3;
}

.home-split{
  font-size: var(--small-font-size);
  color: var(--first-color);
  font-weight: var(--font-regular);
}

.home-profession-1, .home-profession-2{
  font-size: var(--bigger-font-size);
  text-align: center;
  overflow: hidden;
}
.home-profession-1{
  position: relative;
  color: var(--first-color);
}
.home-profession-1::after{
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,
              hsla(0, 0%, 0%) 10%,
              hsla(0, 0%, 0%, 0) 60%);
  position: absolute;
  top: 0;
  left: 0;
}

.home-profession-2{
  transform: translateY(-1rem);
}

.home-socials{
  z-index: 2;
  left: 0;
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
  align-self: center;
}

.home-social{
  color: var(--text-color);
  font-size: 1rem;
  transition: transform .3s, color .3s;
}
.home-social:hover, .home-social:focus{
  transform: translateX(.3rem);
  color: var(--first-color);
}

.home-cv{
  right: -2.5rem;
  bottom: 2.5rem;
  z-index: 2;
  rotate: -90deg;
  color: var(--text-color);
  font: var(--font-medium) var(--small-font-size) var(--second-font);
  align-items: center;
  column-gap: .5rem;
  transition: color .3s;
} 
.home-cv i{
  font-size: 1rem;
}
.home-cv:hover, .home-cv:focus{
  color: var(--first-color);
}


/*=============== BUTTON ===============*/
.button{
  background-color: var(--body-color);
  border: 3px solid var(--first-color);
  color: var(--title-color);
  padding: 1rem 2rem;
  box-shadow: 0 8px 32px hsla(var(--hue), 60%, 64%, .5),
              inset 8px -8px 30px var(--first-color-alt-2);
  border-radius: 4rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: box-shadow .4s;
}
.button i {
  font-weight: initial;
  font-size: 1rem;
}
.button:hover, .button:focus{
  box-shadow: 0 8px 48px hsla(var(--hue), 60%, 64%, .7),
              inset 8px -8px 30px var(--first-color-alt-2);
}
/*=============== ABOUT ===============*/
.about{
  position: relative;
}

.about-container{
  row-gap: 3rem;
  overflow-y: clip;
} 
.about-container .section-title{
  text-align: initial;
  margin-bottom: 1.5rem;
}

.about-description{
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
}
.about-description b{
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.about-image{
  position: relative;
  width: 200px;
  justify-self: center;
  justify-content: center;
}
.about-image .blob-animate:nth-child(1){
  top: 1.5rem;
  left: 1rem;
}
.about-image .blob-animate:nth-child(2){
  right: -.5rem;
  bottom: .5rem;
}

.about-profile{
  width: 220px;
  justify-self: center;
}

.about-shadow{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 258px;
  bottom: 1rem;
  background: linear-gradient(180deg,
              hsla(244, 100%, 2%, 0) 60%,
              hsla(244, 100%, 2%) 95%);
}
/*=============== PROJECTS ===============*/

/* Swiper class */

/*=============== WORK ===============*/

/* Show & hide sections */

/* Active tab */

/*=============== SERVICES ===============*/

/* Hide services info */

/* Rotate icon */

/*=============== TESTIMONIALS ===============*/

/* Infinite scroll animation */

/*=============== CONTACT ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-inline: 1rem;
  }

  /* .blob, .blob-animate, .home-image{
    width: 220px;
    height: 220px;
  } */


}

/* For medium devices */
@media screen and (min-width: 540px) {
  .home-container{
    width: 460px;
    margin-inline: auto;
  }

  .about-container{
    grid-template-columns: 460px;
    justify-content: center;
  }

  .about-data,
  .about-data .section-title{
    text-align: center;
  }
  .about-image{
    width: 300px;
    justify-self: center;
  }
  .about-profile{
    width: 300px;
  }
 
}

@media screen and (min-width: 768px) {
  .home-container{
    width: 600px;
  }
  .about-container{
    width: 600px;
    justify-self: center;
  }
  
  
}
/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
    align-items: center;
  }
  .nav-logo {
    align-self: initial;
  }
  .nav-links {
    flex-direction: row;
    column-gap: 4rem;
  }

  .home-container {
    width: initial;
    padding-top: 3rem;
  }

  .home-profile{
    width: 600px;
  }

  .home-image .blob-animate{
    width: 450px;
    height: 450px;
    bottom: 2rem;
    filter: blur(50px);
  }
  .home-shadow{
    width: 700px;
    height: 700px;
    left: 0;
    right: 0;
    margin-inline: auto;
    background: linear-gradient(180deg, 
                hsla(240, 100%, 2%, 0) 60%,
                hsl(240, 100%, 2%) 95);
  }
  .home-data{
    position: absolute;
    top: 12rem;
    left: 3rem;
    z-index: 2;
  }

  .home-info{
    top: 12rem;
    right: 1rem;
    bottom: initial;
  }

  .home-split{
    font-size: var(--h2-font-size);
  }
  .home-profession-1{
    font-size: var(--biggest-font-size);
    text-align: initial;
  }
  .home-profession-2{
    font-size: var(--biggest-font-size);
    transform: translateY(-1.5rem);
  }
  .home-socials{
    bottom: 3rem;
    row-gap: 1.5rem;
  }
  .home-social{
    font-size: 1.5rem;
  }
  .home-cv{
    font-size: var(--normal-font-size);
    rotate: 0deg;
    right: 0;
  }

  .about-container{
    grid-template-columns: repeat(2, 500px);
    align-items: center;
    column-gap: 5.5rem;
    padding-top: 2rem;
  }
  .about-data, 
  .about-data .section-title{
    text-align: initial;
    z-index: 2;
  }
  .about-description{
    margin-bottom: 3rem;
  }
  .about-profile{
    width: 500px;
  }
  .about-image{
    width: 500px;
  }

  .about-image .blob-animate:nth-child(1){
    top: 4rem;
    left: 4rem;
  }
  .about-image .blob-animate{
    width: 200px;
    height: 200px;
    filter: blur(50px);
  }
  .about-image .blob-animate:nth-child(2){
    bottom: 3rem;
    right: -1rem;
  }
  .about-image {
    order: -1;
  }
  .about-shadow{
    height: 600px;
    bottom: 0;
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */

/* Custom cursor is hidden for mobile devices */
